article {
  margin-top: 5%;
  height: 200px;
  border-style: solid;
  border-width: thick;
  border-color: #545149;
  width: 100%;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif ;
  color: #545149;
}

article header {
  margin: 0 2.5%;
  height: 50px;
}

article p {
  height: 105px;
  margin: 0% 2.5%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: medium;
  border-color: #545149;
  font-size: 24px;
}
article footer {
  margin: 1% 2.5% 0% 2.5%;
  height: 50px;
}

h5 {
  display: inline-flex;
  margin: 0;
  margin-right: 5px;
  padding-top: 1em;
  background-image: none;
  background-color: #f4f1ec;
  font-size:20px; 
  font-family: 'Bungee', cursive;
}

h6 {
  
  margin-top:5px;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 0em;
  margin-bottom: 0;
}

h6 img {
  float: right;
  width: 20px;
  height: 20px;
}

h5 img {
  float: left;
  width: 25px;
  height: 25px;
}

.right {
  float: right;
  /* margin-right: -1em; */
}

#date {
  float: left;
}

#social {
  float: right;
  margin-left: 1em;
}