article {
  align-content: center;
  margin-top: 1em;
  border-style: solid;
  border-width: thick;
  border-color: #545149;
  width: 100%;
  padding: 0em 1em 0em 1em;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif ;
  color: #545149;
}
article header{
  display: flex;
  justify-content: space-between;
  height: auto;
  background-image: none;
  background-color: #f4f1ec;
  font-size:24px; 
  font-family: 'Bungee', cursive;
}

article footer{
  display: flex;
  justify-content: space-between;
  margin-top: -2em;
}
article:hover{
  box-shadow: 10px 10px 15px 0px #949494;
  color:#545149;
}

article p {
  margin-top: 4em;
  margin-right: 0em;
  border-bottom: solid;
  border-width: medium;
  border-color: #545149;
  font-size: 24px;
}

h6 img {
  display: inline;
  margin-top: -3em;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

h5 #left {
  float: left;
}

h5 #right {
  float: right;
  margin-right: -1em;
}