article {
  margin-top: 5%;
  height: auto;
  border-style: solid;
  border-width: thick;
  border-color: #545149;
  width: 100%;
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  color: #545149;
}

article:hover .handle {
  color:#b6b5b1;
}

article:hover {
  box-shadow: 10px 10px 15px 0px #949494;
}

.tweet_header {
  margin: 0 2.5%;
  height: 50px;
  padding-top: 1em;
  background-image: none;
  background-color: #f4f1ec;
  font-size:20px; 
  font-family: 'Bungee', cursive;
}
.user {
  vertical-align: middle;
  display: inline-flex;
}
.user img {
  float: left;
  margin-top: 0px;
  width: 30px;
  height: 30px;
}

.handle {
  margin-top: 5px;
  color: #f4f1ec;
  float: right;
  font-size: 15px;
}

article p {
  height: auto;
  margin: 0% 2.5%;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-width: medium;
  border-color: #545149;
  font-size: 24px;
  overflow-wrap: break-word;
}

article footer {
  margin: 1% 2.5% 0% 2.5%;
  height: 50px;
  padding-top: 5px;
  font-family: 'Bungee', cursive;
}

.social {
  
  margin: auto;
  display: inline-flex;
  float: right;
  justify-content: space-between;
}

/* h6 {
  
  margin: auto;
  display: inline-flex;
  justify-content: space-between;
} */

.social img {
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

footer span {
  float: left;
}
/* 
#social {
  float: right;
  margin-left: 1em;
} */

.hoverArticle {
  box-shadow: 10px 10px 15px 0px #949494;
  color:#545149;
}

.hoverRight {
  color:#b9b6ad;
}
