.profile {
  z-index: 1;
  width: 100%;
  margin-top: 120px;
  top: 120px;
  height: auto;
  background-image:url('../images/cardboard.png');
  background-color: #e83600;
}

.profile div {
  display: flex;
  justify-content: center;
}
.profile div img{

  padding-top: 10%;
}
.profile div h2 {

  margin-bottom: 10%;
  margin-top: 0;
  font-size: 32px;
  color: #ffffff;
}