header {
  height: 400px;
  width: 100%;
  position: relative;
  z-index: 2;
  background-image:url('../images/cardboard.png');
  background-color: #e83600;
  
}

header div {
  /* margin-top: 1em; */
  display: flex;
  justify-content: center;
}
img {
  margin-top: 1em;
}
