@media all and (min-width: 768px) {
  nav {
    background-color: #4056A1;
    background-image: none;
    /* line-height: ; */
  }
  .profile {
    margin: 0 5%;
    /* margin-top: 200px; */
    float: left;
    width: 30vw;
    height: 45vh;
  }
  main {
    margin-top: 200px;
  }
  .new-tweet, .all-tweets, #error{
    float: right;
    width: 50vw;
    margin-bottom: 2.5%;
  }
  .new-tweet {
    margin-top: -2.5%;
  }
  .all-tweets {
    margin-top: -2.5%;
  }
  #error {
    margin-top: 0;
  }
}