@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
  .profile {
    margin: 0 5%;
    float: left;
    width: 25%;
    height: auto;
  }
  main {
    margin-top: 200px;
  }
  .new-tweet, .all-tweets, #error{
    float: right;
    width: 65%;
  }
  .new-tweet {
    margin-top: 0;
  }
  .tweet {
    margin-top: -1px;
  }
  #error {
    margin-top: 0;
  }
}

