.new-tweet {
  width: 100%;
}

textarea {
  width: 100%;
  border: none;
  border-bottom-style:solid;
  border-width: thick;
  border-bottom-color: #545149;
  background-color: transparent;
}

.tweetbox {
  background-color: blue;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
}
.colorchange {
  color: red;
}

