.new-tweet {
  align-content: center;
  width: 100%;
}
textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom-style:solid;
  border-width: thick;
  border-bottom-color: #545149;
}
.tweetbox {
  background-color: blue;
  color: #FFFFFF;
  font-family: 'Bungee', cursive;
}
.counter {
  float: right;
}

